{% extends page.layout ~ (page.layout ends with '.html.twig' ? '' : '.html.twig') %}

{%~ block page_contents %}
    {{ content|raw }}

    <h2>staticPages()</h2>
    <ul>
        {% for p in staticPages() %}
            <li>
                {{ p.title }}
            </li>
        {% endfor %}
    </ul>

    <h2>staticPages() | sort((a, b) => a.createdAt <=> b.createdAt)</h2>
    <ul>
        {% for p in staticPages() | sort((a, b) => a.createdAt <=> b.createdAt) %}
            <li>
                {{ p.createdAt }} {{ p.title }} [{{ p.path }}]
            </li>
        {% endfor %}
    </ul>

    <h2>staticPages() | sort((b, a) => a.createdAt <=> b.createdAt)</h2>
    <ul>
        {% for p in staticPages() | sort((b, a) => a.createdAt <=> b.createdAt) %}
            <li>
                {{ p.createdAt }} {{ p.title }} [{{ p.path }}]
            </li>
        {% endfor %}
    </ul>

    <h2>staticPages() | tree</h2>
    {% include 'tree.html.twig' with {'pages': staticPages() | tree} %}

    <h2>staticChildPages()</h2>
    <ul>
        {% for p in staticChildPages() %}
            <li>
                {{ p.title }}
            </li>
        {% endfor %}
    </ul>

    <h2>staticChildPages() | sort((a, b) => a.createdAt <=> b.createdAt) </h2>
    <ul>
        {% for p in staticChildPages() | sort((a, b) => a.createdAt <=> b.createdAt) %}
            <li>
                {{ p.title }}
            </li>
        {% endfor %}
    </ul>

    <h2>staticChildPages() | tree </h2>
    {% include 'tree.html.twig' with {'pages': staticChildPages() | tree} %}

{%~ endblock %}
