{% extends '@cms/default.html.twig' %}

{%~ block content %}
    <h1>Page</h1>

    <h2>TODO !!!!!</h2>

    <table>
        <thead>
            <tr>
                <th></th>
                <th>path</th>
                <th>title</th>
                <th>slug</th>
                <th>createdAt</th>
                <th>updatedAt</th>
                <th>layout</th>
                <th>template</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="{{ path('cms.pages.edit', { site: site, path: page.path })}}">Edit</a>
                </td>
                <td>{{ page.path }}</td>
                <td>{{ page.title }}</td>
                <td>{{ page.slug }}</td>
                <td title="{{ page.createdAt }}">{{ page.createdAt|date('Y-m-d') }}</td>
                <td title="{{ page.updatedAt }}">{{ page.updatedAt|date('Y-m-d') }}</td>
                <td>{{ page.layout }}</td>
                <td>{{ page.template }}</td>
            </tr>
        </tbody>

    </table>

    <div style="display:flex;">
        <div class="edit-area" style="width:50%; flex-shrink: 0;">
                <textarea style="width:100%;height:100%;">{{ page.__markdown }}</textarea>
        </div>
        <div class="preview-area" style="width:50%;height:80vh;">
            <iframe style="height:100%;width:100%;" id="preview" data-src="{{ path('render-edit', { site: site, path: page.path }) }}" src=""></iframe>
        </div>
    </div>
 
    <script>
        var iframe = document.querySelector('#preview');
        var src = iframe.getAttribute('data-src');

        function updatePreview() {
            console.log('reload preview');
            iframe.src = src + '?v' + Math.random();
        }
        document.querySelector('textarea').addEventListener('keyup', updatePreview);
        updatePreview();
    </script>
{%~ endblock %}