{% extends '@cms/default.html.twig' %}

{%~ block content %}
    <h1>Pages</h1>


    <h2>Create</h2>
    <form action="{{ path('cms.pages.create', { site: site } ) }}" method="POST">
        Path:
        <input type="text" placeholder="news/my news post" name="path" />
        <input type="submit" value="Create" />
    </form>

    <hr>

    {% if not pages %}
        No pages found.
    {% else %}

    <table>
        <thead>
            <tr>
                <th></th>
                <th>path</th>
                <th>title</th>
                <th>slug</th>
                <th>createdAt</th>
                <th>updatedAt</th>
                <th>layout</th>
                <th>template</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for page in pages %}
                <tr>
                    <td>
                        <a target="_blank" href="{{ path('render', { site: site, path: page.path })}}">Preview</a>
                        <a href="{{ path('cms.pages.edit', { site: site, path: page.path })}}">Edit</a>
                    </td>
                    <td>{{ page.path }}</td>
                    <td>{{ page.title }}</td>
                    <td>{{ page.slug }}</td>
                    <td title="{{ page.createdAt }}">{{ page.createdAt|date('Y-m-d') }}</td>
                    <td title="{{ page.updatedAt }}">{{ page.updatedAt|date('Y-m-d') }}</td>
                    <td>{{ page.layout }}</td>
                    <td>{{ page.template }}</td>
                    <td>
                        <a href="#" onclick="event.preventDefault();if(confirm('Remove \'{{ page.path }}\' from \'{{ site }}\'?'))document.getElementById('form-destroy-{{ page.path }}').submit()">Remove</a>

                        <form style="display:none" id="form-destroy-{{ page.path }}" action="{{ path('cms.pages.destroy', { site: site }) }}" method="post">
                            <input type="hidden" name="path" value="{{ page.path }}">
                            <input type="submit" value="X">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}

{%~ endblock %}